:root {
    --black-color: #000;
    --white-color: #fff;
    --text-color-primary: #c5a880;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.text-hover:hover {
    color: var(--text-color-primary);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.4;
    z-index: -1;
}